body{
	font-family: 'Inconsolata', monospace;
	padding: 5% 15%;
	background: #34373a;
}

h1,
h2,
h3,
h4,
h5,
h6,
a{
	color: #fff;
    line-height: 1.4;
}

.comment{
	color: #95dee5;
}

.yellow{
	color: #f6ff7a;
}

.green{
	color: #99ffb5;
}

a:link{
	text-decoration: none;
}
